<li class="post-box" onclick="location.href='{{ post.url | relative_url }}'">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h2>{{ post.title }}<span class="post-meta">{{ post.date | date: date_format }}</span></h2>
        <p class="pre-content">{{ post.excerpt | strip_html | truncatewords: 100 }}</p>
    {%- for category in post.categories -%}
        <span class="post-meta categories">{{ category }}</span>
    {%- endfor -%}
    {%- for tag in post.tags -%}
        <span class="post-meta tags">{{ tag }}</span>
    {%- endfor -%}
</li>