---
layout: page
title: Tag
permalink: /tag/
---
{%- if page.title -%}
    <h1 class="page-heading"><i class="tag-icon fas fa-tag"></i>{{ page.title }}</h1>
{%- endif -%}
<span>
    Tag에 맞게 글을 분류합니다. Tag는 포스팅한 글의 소주제를 알려줍니다.
</span>
<ul class="list-view">
    {% for tag in site.tags %}
    <li>
        <h3 onclick="view_category('{{ tag[0]}}-tag')">{{ tag[0] }}</h3>
        <ul class="list-view tag-posts {{ tag[0] }}-tag">
            {% for post in tag[1] %}
                <li>
                    <a class="margin-right-1rem" href="{{ post.url }}">{{ post.title }}</a>
                    {%- for category in post.categories -%}
                        <span class="post-meta categories">{{ category }}</span>
                    {%- endfor -%}
                </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
